{
  "env": {
    "test": {
      "presets": [
        ["env", {"loose": true}],
        "react"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread",
      ]
    }
  }
}
