{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", 4, {"SwitchCase": 1}],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["jest-setup.js", "rollup.config.js", "**/*.spec.{js,jsx}"]
    }],
    "no-use-before-define": ["error", {"functions": false}],
    "function-paren-newline": ["error", "consistent"],
    "react/prop-types": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
  }
}
